{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block body %}
  <!-- Start recent-blog Area -->
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pb-60 header-text">
                <h1>{{note}}</h1>
                <p>{{note.created|date:"j M"}} | {{note.tags}} | {{note.user.username}}</p>
            </div>
        </div>
            <div class="row">
                <div class="single-recent-blog col-lg-4 col-md-10">
                <img class="f-img img-fluid mx-auto" src="{% if note.img %}{{note.img.url}}{% endif%}" alt="">
                <p>{{note.content|safe}}</p>
                
                </div>
            </div>
        </div>
        {% buttons %}
            <a href="#">
                <button type="submit" class="btn btn-primary">Edit</button>
            </a>
        {% endbuttons %}
    </section>
    
    <!-- end recent-blog Area -->
    <!-- start footer Area -->
{% endblock body %}