{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!-- Start recent-blog Area -->
{% block body %}
<section class="recent-blog-area section-gap">
	<div class="container">
		<div class="row justify-content-center">
				<div class="col-md-7 pb-60 header-text">
				<h1>your Recent Notes</h1>
				<p class="text-primary">
					Create , Update , And Share Your Notes With Others
				</p>
				</div>
			</div>
			{% buttons %}
			<a href="{% url 'notes:not_add'%}">
				<button type="submit" class="btn btn-primary">Add Note</button>
			</a>
   			{% endbuttons %}
		<div class="row">
			{% for note in all_notes%}
			<div class="single-recent-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="{% static 'img/notes.png' %}" alt="">
				</div>
					<a href="{% url 'notes:detail' note.slug%}">
					<h4>{{note.title}}</h4>
					</a>
					<p>{{note.content|truncatewords:'10'}}</p> <!-- to view a some words only-->
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="{% static 'img/user.png' %}" style="width: 50px;" alt="">
						<a href="{% url 'accounts:profile' profile.slug %}"><span>{{note.user.username}}</span></a>
						<hr>
					</div>
					<div class="meta">
						{{note.created|date:"j M"}}
					</div>
				</div>
			</div>
			{% endfor%}
		</div>
	</div>
</section>
{% endblock body %}
<!-- end recent-blog Area -->
<!-- start footer Area -->
