{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
        <br>
      <a href="">Day Notes </a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Log In</h2>
            <form method="post" novalidate>
              <input type="hidden" name="next" value="{{ next }}">
              {% csrf_token %}
              {% bootstrap_form form%}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            create new account <a href="{% url 'accounts:signup'%}">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}